.elementor-63 .elementor-element.elementor-element-b003d22:not(.elementor-motion-effects-element-type-background), .elementor-63 .elementor-element.elementor-element-b003d22 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-primary );}.elementor-63 .elementor-element.elementor-element-b003d22{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:160px 35px 160px 35px;}.elementor-63 .elementor-element.elementor-element-b003d22 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-63 .elementor-element.elementor-element-2d1d7e8{padding:0px 0px 15px 0px;}.elementor-63 .elementor-element.elementor-element-5ae21c6{--divider-border-style:solid;--divider-color:var( --e-global-color-c51b028 );--divider-border-width:2px;width:auto;max-width:auto;}.elementor-63 .elementor-element.elementor-element-5ae21c6 .elementor-divider-separator{width:18px;}.elementor-63 .elementor-element.elementor-element-5ae21c6 .elementor-divider{padding-block-start:0px;padding-block-end:0px;}.elementor-63 .elementor-element.elementor-element-5ae21c6 > .elementor-widget-container{padding:7px 0px 0px 0px;}.elementor-63 .elementor-element.elementor-element-96c4f43 .elementor-heading-title{color:var( --e-global-color-accent );}.elementor-63 .elementor-element.elementor-element-96c4f43 > .elementor-widget-container{padding:0px 0px 0px 5px;}.elementor-63 .elementor-element.elementor-element-96c4f43{width:auto;max-width:auto;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-63 .elementor-element.elementor-element-9dfc833 .aux-modern-heading-primary{font-size:38px;font-weight:600;text-transform:capitalize;color:var( --e-global-color-021e33e );margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;max-width:491px;}.elementor-63 .elementor-element.elementor-element-9dfc833 .aux-modern-heading-secondary{font-size:100px;font-weight:bold;line-height:107px;color:var( --e-global-color-021e33e );margin:0px 0px 0px 0px;padding:0px 0px 25px 0px;border-radius:0px 0px 0px 0px;}.elementor-63 .elementor-element.elementor-element-9dfc833 .aux-modern-heading-description{color:#ECF2FD;font-size:18px;font-weight:300;line-height:26px;margin:0px 0px 0px 0px;max-width:647px;}.elementor-63 .elementor-element.elementor-element-9dfc833 > .elementor-widget-container{padding:0px 0px 30px 0px;}.elementor-63 .elementor-element.elementor-element-9dfc833{animation-duration:1500ms;animation-delay:250ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-63 .elementor-element.elementor-element-9d2805d{--icon-box-icon-margin:25px;width:auto;max-width:auto;animation-duration:1500ms;animation-delay:500ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon-box-title{margin-bottom:5px;color:var( --e-global-color-021e33e );}.elementor-63 .elementor-element.elementor-element-9d2805d.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-3aebb56 );fill:var( --e-global-color-accent );color:var( --e-global-color-accent );}.elementor-63 .elementor-element.elementor-element-9d2805d.elementor-view-framed .elementor-icon, .elementor-63 .elementor-element.elementor-element-9d2805d.elementor-view-default .elementor-icon{fill:var( --e-global-color-3aebb56 );color:var( --e-global-color-3aebb56 );border-color:var( --e-global-color-3aebb56 );}.elementor-63 .elementor-element.elementor-element-9d2805d.elementor-view-framed .elementor-icon{background-color:var( --e-global-color-accent );}.elementor-63 .elementor-element.elementor-element-9d2805d.elementor-view-stacked .elementor-icon:hover{background-color:var( --e-global-color-secondary );}.elementor-63 .elementor-element.elementor-element-9d2805d.elementor-view-framed .elementor-icon:hover, .elementor-63 .elementor-element.elementor-element-9d2805d.elementor-view-default .elementor-icon:hover{fill:var( --e-global-color-secondary );color:var( --e-global-color-secondary );border-color:var( --e-global-color-secondary );}.elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon{font-size:35px;padding:35px;}.elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon-box-title, .elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon-box-title a{font-size:24px;font-weight:600;}.elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon-box-description{color:var( --e-global-color-c2a7491 );font-size:16px;font-weight:300;line-height:28px;}.elementor-63 .elementor-element.elementor-element-9d2805d > .elementor-widget-container{padding:0px 0px 0px 15px;}.elementor-63 .elementor-element.elementor-element-162ffa9{--icon-box-icon-margin:25px;width:auto;max-width:auto;animation-duration:1500ms;animation-delay:650ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}.elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon-box-title{margin-bottom:5px;color:var( --e-global-color-021e33e );}.elementor-63 .elementor-element.elementor-element-162ffa9.elementor-view-stacked .elementor-icon{background-color:#25262A;}.elementor-63 .elementor-element.elementor-element-162ffa9.elementor-view-framed .elementor-icon, .elementor-63 .elementor-element.elementor-element-162ffa9.elementor-view-default .elementor-icon{fill:#25262A;color:#25262A;border-color:#25262A;}.elementor-63 .elementor-element.elementor-element-162ffa9.elementor-view-stacked .elementor-icon:hover{background-color:var( --e-global-color-secondary );}.elementor-63 .elementor-element.elementor-element-162ffa9.elementor-view-framed .elementor-icon:hover, .elementor-63 .elementor-element.elementor-element-162ffa9.elementor-view-default .elementor-icon:hover{fill:var( --e-global-color-secondary );color:var( --e-global-color-secondary );border-color:var( --e-global-color-secondary );}.elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon{font-size:35px;padding:35px;}.elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon-box-title, .elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon-box-title a{font-size:24px;font-weight:600;}.elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon-box-description{color:var( --e-global-color-c2a7491 );font-size:16px;font-weight:300;line-height:28px;}.elementor-63 .elementor-element.elementor-element-162ffa9 > .elementor-widget-container{padding:0px 0px 0px 70px;}.elementor-63 .elementor-element.elementor-element-9707404 > .elementor-element-populated{padding:0px 0px 0px 40px;}.elementor-63 .elementor-element.elementor-element-d18c3b0 input:not([type="submit"]){color:var( --e-global-color-021e33e );height:55px;border-radius:14px 14px 14px 14px;padding:0px 10px 0px 26px;background-color:var( --e-global-color-3aebb56 );border-style:solid;border-width:1px 1px 1px 1px;border-color:#64F4AB;transition:all ease-out 0.3s;}.elementor-63 .elementor-element.elementor-element-d18c3b0 input:not([type="submit"])::placeholder{font-size:16px;font-weight:400;text-transform:capitalize;font-style:normal;color:#FFFFFF;}.elementor-63 .elementor-element.elementor-element-d18c3b0 input[type="text"]{color:#FFFFFF;transition:all ease-out 0.3s;}.elementor-63 .elementor-element.elementor-element-d18c3b0 input[type="email"]{color:#FFFFFF;transition:all ease-out 0.3s;}.elementor-63 .elementor-element.elementor-element-d18c3b0 select{transition:all ease-out 0.3s;}.elementor-63 .elementor-element.elementor-element-d18c3b0 textarea{font-size:16px;font-weight:500;text-transform:capitalize;font-style:normal;color:#FFFFFF;border-radius:14px 14px 14px 14px;padding:20px 25px 20px 25px;background-color:var( --e-global-color-3aebb56 );border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-accent );transition:all ease-out 0.3s;}.elementor-63 .elementor-element.elementor-element-d18c3b0 textarea::placeholder{font-size:16px;font-weight:400;text-transform:capitalize;font-style:normal;color:var( --e-global-color-021e33e );}.elementor-63 .elementor-element.elementor-element-d18c3b0 label{color:#FFFFFF;}.elementor-63 .elementor-element.elementor-element-d18c3b0 input[type="submit"]{font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:500;text-transform:capitalize;letter-spacing:-0.32px;color:#25262A;width:192px;height:60px;border-radius:18px 18px 18px 18px;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;background-color:transparent;background-image:linear-gradient(91deg, var( --e-global-color-secondary ) 0%, var( --e-global-color-text ) 100%);box-shadow:0px 10px 15px 0px rgba(255, 174.99999999999997, 40.99999999999999, 0.25098039215686274);transition:all ease-out 0.3s;}.elementor-63 .elementor-element.elementor-element-d18c3b0 input[type="submit"]:hover{background-color:transparent;background-image:linear-gradient(91deg, var( --e-global-color-text ) 0%, var( --e-global-color-secondary ) 100%);}.elementor-63 .elementor-element.elementor-element-d18c3b0{animation-duration:2000ms;animation-delay:1200ms;animation-timing-function:cubic-bezier(0.165,0.84,0.44,1);}@media(max-width:1024px){.elementor-63 .elementor-element.elementor-element-b003d22{padding:100px 35px 100px 35px;}.elementor-63 .elementor-element.elementor-element-9dfc833 .aux-modern-heading-primary{font-size:40px;}.elementor-63 .elementor-element.elementor-element-9dfc833 .aux-modern-heading-description{font-size:14px;}.elementor-63 .elementor-element.elementor-element-162ffa9 > .elementor-widget-container{padding:0px 0px 0px 60px;}.elementor-63 .elementor-element.elementor-element-9707404 > .elementor-element-populated{padding:100px 0px 0px 0px;}.elementor-63 .elementor-element.elementor-element-d18c3b0 input:not([type="submit"]){width:49%;}}@media(max-width:767px){.elementor-63 .elementor-element.elementor-element-9dfc833 .aux-modern-heading-primary{font-size:30px;}.elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon-box-wrapper{text-align:left;}.elementor-63 .elementor-element.elementor-element-9d2805d{--icon-box-icon-margin:10px;width:100%;max-width:100%;}.elementor-63 .elementor-element.elementor-element-9d2805d > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon-box-wrapper{text-align:left;}.elementor-63 .elementor-element.elementor-element-162ffa9{--icon-box-icon-margin:10px;width:100%;max-width:100%;}.elementor-63 .elementor-element.elementor-element-162ffa9 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-63 .elementor-element.elementor-element-9707404 > .elementor-element-populated{padding:50px 0px 0px 0px;}.elementor-63 .elementor-element.elementor-element-d18c3b0 input:not([type="submit"]){width:100%;}}@media(max-width:1024px) and (min-width:768px){.elementor-63 .elementor-element.elementor-element-ab19e69{width:100%;}.elementor-63 .elementor-element.elementor-element-9707404{width:100%;}}/* Start custom CSS for icon-box, class: .elementor-element-9d2805d */@media(max-width:1366px){
    .elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon {
    font-size: 30px;
    padding: 30px;
}
}
.elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon-box-wrapper{
    transition: 0.5s;
}

.elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon{
    transition: 0.5s;
    
}

.elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon-box-wrapper:hover .elementor-icon {
    background-color: var(--e-global-color-secondary );
}

.elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon-box-wrapper:hover svg g path {
    fill: var(--e-global-color-3aebb56);
}


@media(max-width:414px){
    .elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon {
  
    margin-right: 20px;
}
.elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon-box-wrapper {
   
    display: flex;
}
}

@media(max-width:320px){
    .elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon {
  
    margin-right: 0px;
}
.elementor-63 .elementor-element.elementor-element-9d2805d .elementor-icon-box-wrapper {
   
    display: block;
}
}

.elementor-63 .elementor-element.elementor-element-9d2805d linearGradient stop[offset="0"] {
        stop-color: var(--e-global-color-accent);
    }
    
.elementor-63 .elementor-element.elementor-element-9d2805d linearGradient stop[offset="1"] {
        stop-color: var(--e-global-color-c51b028);
    }/* End custom CSS */
/* Start custom CSS for icon-box, class: .elementor-element-162ffa9 */@media(max-width:1366px){
    .elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon {
    font-size: 30px;
    padding: 30px;
}
}

.elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon-box-wrapper{
    transition: 0.5s;
}

.elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon{
    transition: 0.5s;
}
.elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon-box-wrapper:hover .elementor-icon {
    background-color: var(--e-global-color-secondary );
}

.elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon-box-wrapper:hover svg g path {
    fill: var(--e-global-color-3aebb56);
}


@media(max-width:414px){
    .elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon {
  
    margin-right: 20px;
}
.elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon-box-wrapper {
   
    display: flex;
}
}

@media(max-width:320px){
    .elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon {
  
    margin-right: 0px;
}
.elementor-63 .elementor-element.elementor-element-162ffa9 .elementor-icon-box-wrapper {
   
    display: block;
}
}

.elementor-63 .elementor-element.elementor-element-162ffa9 linearGradient stop[offset="0"] {
        stop-color: var(--e-global-color-accent);
    }
    
.elementor-63 .elementor-element.elementor-element-162ffa9 linearGradient stop[offset="1"] {
        stop-color: var(--e-global-color-c51b028);
    }/* End custom CSS */
/* Start custom CSS for aux_contact_form, class: .elementor-element-d18c3b0 */.contact-form__column {	
	display: flex;
}

.contact-form__column &gt; * {	
	width: 50%;
}

.contact-form__column input:first-child {
	margin-right: 15px !important;
}

.contact-form textarea { 
	min-height: 255px !important; 
}

.elementor-63 .elementor-element.elementor-element-d18c3b0 input[type="submit"]{
    float: left;
}

@media(max-width:414px){
    .contact-form__column &gt; * {	
	width: 100%;
	max-width:100%;
}
.contact-form__column {	
	display: block;
}
}/* End custom CSS */
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */